name: Post-PR

on:
  pull_request:
    branches: [main]
  push:
    branches: [main]

jobs:
  test:
    runs-on: ubuntu-latest

    steps:
      - uses: actions/checkout@v4

      - uses: actions/setup-python@v5
        with:
          python-version: "3.13"

      - uses: astral-sh/setup-uv@v4

      - name: Install dependencies
        run: uv pip install --system .

      - name: Run tests with coverage
        run: coverage run -m pytest

      - name: Coverage Report & Upload to covsrv
        uses: sevenrats/covsrv-actions-github@main
        with:
          coverage-token: ${{ secrets.COVSRV_TOKEN }}
          reports-endpoint-url: ${{ secrets.COVSRV_REPORT_URL }}